nbproject
build
/tests/tmp/*
/tests/build/*
/library/Zend
/library/ZendX
/library/ZFDebug
/library/HTMLPurifier
/library/HTMLPurifier.php
/library/standalone
/library/HTMLPurifier.standalone.php
/library/Doctrine
/library/Doctrine.php
/library/ezc
/_local
