<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    bootstrap="TestHelper.php">
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Robo47</directory>
        </whitelist>
    </filter>
    <testsuite name="Robo47 Components Test Suite">
        <file>./AllTests.php</file>
    </testsuite>
</phpunit>
