@charset "UTF-8";
/**
 * @style       Standard Layout
 * @media       screen
 * @version     0.1
 * @author      Benjamin Steininger
 */

/**
 * @section         reset
 * @author Eric Meier (http://meyerweb.com/)
 * @see http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 * Resets browser specific CSS values
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/**
 * @section         style
 * Palete: http://de-de.colourlovers.com/palette/1047900/C_25
 */

 body {
     background-color: #DCFAB4;/* ; */
     color: black;
     background-image: url('689650.png');
     background-repeat: repeat;
     /* http://de-de.colourlovers.com/pattern/689650/P_71 */
     /* #c44332 */
}

h1, h2, h3, h4, h5, h6 { margin-top: 1em; text-align: left; color: #c44332; font-family: sans-serif; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ text-decoration: none; color: #c44332; }

h1 { font-size: 1.8em; font-weight: bold; margin-left: 0em; }
h2 { font-size: 1.5em; font-weight: bold; margin-left: 0.5em; }
h3 { font-size: 1.3em; font-weight: bold; margin-left: 0.5em; }
h4 { font-size: 1.2em; font-weight: bold; margin-left: 0.5em; }
h5 { font-size: 1.1em; font-weight: bold; margin-left: 0.5em; }
h6 { font-size: 1.0em; font-weight: bold; margin-left: 0.5em; }

a { text-decoration: underline; color: #c44332; }

p {
    padding: 1em 0 1em 1.5em;
    font-family: sans-serif;
}

#root {
    padding: 2em;
    margin: 2em auto 4em;
    background-color: #DCFAB4;
    color: black;
    border: 3px solid #0B3803;
    max-width: 50em;
}

h2.toc, h2.toc a {
    color: #c44332;
}

ul.toc {
    margin: 1em 0 1em 1em;
    list-style-type: square;
    color: #61BF50;
}

ul.toc li {
    margin-left: 2.5em;
    line-height: 1.3em;
}

pre {
    font-family: Courier, "Courier New", monospaced;
    font-size: 0.9em;
    margin-left: 3em;
}

ul.toc li a {
    display: block;
    width: 10em;
    text-decoration: none;
}

#footer {
    font-family: monospace;
    background-color: #DCFAB4;
    border-top: 2px solid #0B3803;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 2em 0.5em 2em;
}

ul.components {
    margin: 1em 0 1em 1em;
    list-style-type: square;
    color: #61BF50;
}

ul.components li {
    margin-left: 2.5em;
    line-height: 1.3em;
}


ul.components li span{
    color: black;
}

ul.components li span.classname {
    font-weight: bold;
}

ul.components li div.componentDescription {
    margin-left: 1.2em;
    color: black;
    margin-bottom: 1em;
}

/**
 * @section 404 - Page not found
 *
 */
ul.lookingForList {
    margin: 1em 0 1em 1em;
    list-style-type: square;
    color: #61BF50;
}

ul.lookingForList li{
    margin-left: 2.5em;
    line-height: 1.3em;
}

ul.lookingForList li span a{
    color: black;
}

img { border: none; }
